body {
    background: #3e3e42;
    background: linear-gradient(90deg, rgb(61, 60, 60) 0%, rgb(27, 27, 29) 100%);
    animation: gradient 6s ease infinite;
    background-size: 200% 200%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
hr {
    border: 1px solid black;
    margin: 20px 20px;
}
img {
    border: 3px solid linen;
    border-radius: 100%;
    margin: 20px 20px;
    width: 200px;
    height: auto;
}
.branco {
    color: linen;
    font-family: 'Playfair Display';
    font-weight: 400;
}
.Raleway {
    font-family: 'Raleway';
    font-weight: 400;
}
.main {
    color: linen;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-left: 400px;
    margin-right: 400px;
    border: 10px solid black;
    border-radius: 15px;
    padding: 0;
    background: #212122;
}
p {
    font-family: 'Raleway';
    font-weight: 400;
}
.lado {
    text-align: left;
    margin-left: 50px;
}
.habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skill {
    background-color: #2e2f30;
    color: white;
    padding: 15px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
h2 {
    position: relative;
    bottom: 20px;
}
.cima {
    position: relative;
    bottom: 40px;
}
.skill2 {
    background-color: #2e2f30;
    margin: 10px 20px;
    border: 2px dashed rgb(39, 38, 38);
    padding: 10px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.skill2:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}